<fieldset>
    <form class="form" action="" id="calculator">
        <legend>CALCULADORA</legend>
        <div class = "input">
            <label for="portion">Porção</label>
            <input type="text" class="portion-input" id="portion" placeholder="porção" required />    
        </div>
        <div class = "input">
            <label for="protein">Proteína</label>
            <input type="protein" class="protein-input" id="protein" placeholder="proteína">    
        </div>
        <div class = "input">
            <label for="protein">Carboidrato</label>
            <input type="carbo" class="carbo-input" id="carbo" placeholder="carboidrato">    
        </div>
        <div class = "input">
            <label for="fat">Gordura</label>
            <input type="fat" class="fat-input" id="fat" placeholder="gordura">    
        </div>
        <div class = "input">
            <label for="qtd">Quantidade</label>
            <input type="qtd" class="qtd-input" id="qtd" placeholder="quantidade">    
        </div>
        <input type="submit" name="submit" value="calcular" class="login-button">
    </form>
</fieldset>
