<fieldset>
    <form class="form" action="" id="signup">
        <legend>CADASTRO</legend>
        <div class = "input">
            <label for="nome">Nome</label>
            <input type="text" class="login-input" id="name" placeholder="name" required />    
        </div>
        <div class = "input">
            <label for="email">Email</label>
            <input type="text" class="login-input" id="email" placeholder="email">    
        </div>
        <div class = "input">
            <label for="password">Senha</label>
            <input type="password" class="login-input" id="password" placeholder="senha">    
        </div>
        <input type="submit" name="submit" value="cadastrar" class="login-button">
        <p class="link"><a href="login.php">já possuo conta</a></p>
    </form>
</fieldset>
